<% cache(:controller => '/profiles', :action => 'snippet', :id => profile.id) do %>
<div class='profile-public'>
	<div class='profile-photo'><%= icon profile, :small -%></div>
	<div class='profile-info'>
	    <div class='profile-info-left'>
            <div class='profile-name'><%= link_to(profile.full_name, profile_path(profile)) %></div> 
        </div>
        <div class='profile-info-right'>
            <%= profile.property_value('about_me') %>
        </div>
    </div>
</div>
<div class='profile-divider'></div>
<% end %>